{% extends "base.html" %} {% block title %}Redefinir Senha{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Insira seu email"
      required="true"
    />
  </div>
  <div class="form-group">
    <label for="password1">CPF (Somente números)</label>
    <input
      type="password"
      class="form-control"
      id="cpf"
      name="cpf"
      placeholder="Insira seu CPF"
      required="true"
    />
    <small id="emailHelp" class="form-text text-muted">Todos as senhas e números de CPF são encriptados ao armazenar, seus dados estão seguros conosco.</small>
  </div>
  <div class="form-group">
    <label for="password1">Nova Senha</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Insira uma nova senha"
    />
  </div>
  <div class="form-group">
    <label for="password2">Confirmar Nova Senha</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirme sua senha"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Confirmar</button>
</form>
{% endblock %}
