{% extends "base.html" %}
{% block title %}Redefinir Senha{% endblock %}
{% block content %}
<style>
    body {
        background-image: url('/static/imagens/maraca.jpeg');
        /* Imagem de fundo */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* Impede a repetição da imagem */
    }

    .forgot-password-container {
        background-color: rgba(255, 255, 255, 0.8);
        /* Adiciona um fundo branco transparente ao formulário */
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        /* Ajusta o espaçamento superior */
        max-width: 400px;
        /* Define a largura máxima do contêiner */
        margin-left: auto;
        /* Centraliza horizontalmente */
        margin-right: auto;
        /* Centraliza horizontalmente */
        text-align: center;
        /* Centraliza o conteúdo */
    }

    .forgot-password-container input[type="date"] {
        padding: 6px 12px;
        /* Adiciona preenchimento ao campo de data */
    }

    .forgot-password-container .form-group {
        margin-bottom: 20px;
        /* Adiciona espaçamento inferior entre os grupos de formulário */
    }

    .forgot-password-container button {
        display: block;
        margin: 0 auto;
        /* Centraliza horizontalmente */
        padding: 10px 20px;
        /* Adiciona preenchimento ao botão */
        background-color: #006300;
        /* Cor de fundo do botão */
        color: #fff;
        /* Cor do texto do botão */
        border: none;
        /* Remove a borda */
        border-radius: 5px;
        /* Adiciona bordas arredondadas */
        cursor: pointer;
        /* Muda o cursor ao passar por cima */
        transition: background-color 0.3s ease;
        /* Adiciona transição suave para a mudança de cor de fundo */
        font-weight: bold;
        /* Torna o texto do botão em negrito */
    }

    .forgot-password-container button:hover {
        background-color: #034b03;
        /* Altera a cor de fundo quando o cursor está sobre o botão */
    }
</style>

<div class="forgot-password-container">
    <form method="POST">
        <h3 align="center">Redefinir senha</h3>
        <p class="text-muted" style="font-size: 0.85rem;">Confirme seu email para redefinir sua senha.</p>
        <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu email"
                required="true" {% if pending_reset %} value="{{mail}}" readonly="true" {% endif %}/>
        </div>
        {% if pending_reset %}
        <div class="form-group">
            <!--<label for="nome_completo">Nome Completo</label>-->
            <input
                type="text"
                class="form-control"
                id="cod_confirmacao"
                name="cod_confirmacao"
                placeholder="Insira aqui o código de confirmação"
                {% if code_sent %}
                value="{{token}}"
                readonly="true"
                {% endif %}
                />
            </div>
        {% if code_sent %}
        <div class="form-group">
            <!-- <label for="password1">Nova Senha</label> -->
            <input type="password" class="form-control" id="password1" name="password1"
                placeholder="Insira uma nova senha" />
        </div>
        <div class="form-group">
            <!-- <label for="password2">Confirmar Nova Senha</label> -->
            <input type="password" class="form-control" id="password2" name="password2"
                placeholder="Confirme sua senha" />
        </div>
        {% endif %}
        {% endif %}
        <!-- <div class="form-group">
            <input type="password" class="form-control" id="cpf" name="cpf" placeholder="Insira seu CPF (Somente números)"
                required="true" />
            <small id="emailHelp" class="form-text text-muted">Todos as senhas e números de CPF são encriptados ao
                armazenar,
                seus dados estão seguros conosco.</small>
        </div> -->
        
        <button type="submit" class="btn btn-primary">{% if not code_sent %}Confirmar{% else %}Alterar Senha{% endif %}</button>
        <br/>
        <a style="font-size: 0.85rem;" href="/login">Voltar à página de login</a>
        <div class="form-group" style="display: none;">
            <input
            type="text"
            class="form-control"
            id="controller"
            name="controller"
            {% if not pending_reset %}
            value="step1"
            {% else %}
                {% if not code_sent %}
                value="step2"
                {% else %}
                value="step3"
                {% endif %}
            {% endif %}
            />
        </div>
        </div>
    </form>
</div>
{% endblock %}