{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<style>
  body {
    background-image: url('/static/imagens/maraca.jpeg'); /* Imagem de fundo */
    background-size: cover; /* Cobrir toda a área do elemento pai */
    background-position: center; /* Centralizar a imagem */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }
  .main-area {
        background-color: rgba(255, 255, 255, 0.8); /* Adiciona um fundo branco transparente ao formulário */
        border-radius: 10px;
        padding: auto;
        margin-top: 50px; /* Ajusta o espaçamento superior */
        max-width: auto; /* Define a largura máxima do contêiner */
        margin-left: auto; /* Centraliza horizontalmente */
        margin-right: auto; /* Centraliza horizontalmente */
        text-align: center; /* Centraliza o conteúdo */
    }
  .table {
      background-color: #ffffff; /* Plano de fundo da tabela */
      border-radius: 5px; /* Cantos arredondados da tabela */
      overflow: hidden; /* Para evitar que a borda redonda se estenda além da tabela */
  }
  .table th,
  .table td {
      border-radius: 5; /* Remover cantos arredondados dos elementos da tabela */
  }
  .table-responsive-md {
    padding: 10px;
  }
  .legendas {
      display: flex;
      justify-content: space-around;
      font-weight: bold; /* Negrito */
  }
  .legendas2 {
      display: flex;
      justify-content: space-around;
      color:#000000;
      font-weight: bold; /* Negrito */
  }
  .legendas div {
      padding: 10px;
      border-radius: 8px;
  }
  .legendas-tabela {
      background-color: rgba(255, 255, 255); /* Adiciona um fundo branco transparente ao formulário */
      border-radius: 5px;
  }
  .libertadores { color: green; }
  .pre-libertadores { color: purple; }
  .sul-americana { color: orange; }
  .rebaixados { color: red; }
  @media (min-width: 150px) and (max-width: 550px) {
        .legendas {
            flex-direction: column;
        }
        .foto-perfil {
            display: none;
        }
    }
</style>
<div class="main-area">
    <h2 align="center">PYTAKO</h1>
    <!--Resultado bolão inicio-->
    {% if user.pagou_aposta and user_aposta %}
    <h3 class="text-center">Classificação Bolão</h3>
    <div class="table-responsive">
        <table class="table" style="width: 95%; margin: auto;">
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontuação</th>
                <th>Data da aposta</th>
            </tr>
            {% for resultado in resultados %}
            <tr>
                <td>{{loop.index}}</td>
                <td><img src="{{resultado.user.foto_perfil}}" class="rounded-circle mx-1 my-auto foto-perfil" width="25" height="25" style="object-fit: cover; min-width: 25px; min-height: 25px;"/>
                {{resultado.user.nome_completo}}</td>
                <td>{{resultado.pontuacao}}</td>
                <td>{{resultado.data_confirmacao}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <!--Resultado bolão fim
    -------------------------->
    <!--Tabela brasileirão inicio-->
    <div class="container mt-5">
    <h3 class="text-center">Tabela Brasileirão</h3>
    <h5 class="text-center">Série A</h5>
    <div class="legendas-tabela m-1">
        <div class="legendas">
            <div class="libertadores">Libertadores</div>
            <div class="pre-libertadores">Pré-libertadores</div>
            <div class="sul-americana">Copa Sul-Americana</div>
            <div class="rebaixados">Rebaixados</div>
        </div>
        <div class="legendas2"> 
            <a>
            P: Pontos |
            J: Jogos |
            V: Vitórias |
            E: Empates |
            D: Derrotas |
            GP: Gols Pró |
            GC: Gols Contra |
            SG: Saldo de Gols |
            %: Aproveitamento</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    {% for th in theaders %}
                        <th scope="col">{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="resultados">
                {% for row in tdata %}
                    <tr>
                        {% for td in row %}
                            {% if loop.index == 2 %}
                                <td><img src="{{td}}" width="25" height="25" style="object-fit: cover;" alt="Brasão do Time"></td>
                            {% else %}
                                <td>{{td}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
<!--Tabela brasileirão fim-->
</div>
{% endblock %}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rowsTimes = document.getElementById('resultados');
        const colorMatchMap = {
            '1': 'green', '2': 'green', '3': 'green', '4': 'green',
            '5': 'purple', '6': 'purple',
            '7': 'orange', '8': 'orange', '9': 'orange', '10': 'orange', '11': 'orange', '12': 'orange',
            '17': 'red', '18': 'red', '19': 'red', '20': 'red'
        }
        rowsTimes.querySelectorAll('tr').forEach(row => {
            console.log(row.firstElementChild.innerText)
            let posicao = row.firstElementChild.innerText;
            console.log(posicao)
            if(colorMatchMap[posicao]) {
                row.firstElementChild.setAttribute('style', `color: ${colorMatchMap[posicao]}; font-weight: bold;`);
            } else {
                row.firstElementChild.setAttribute('style', `font-weight: bold;`);
            }
        })
    });
</script>
{% endblock %}