{% extends "base.html" %}
{% block title %}
Minha Aposta
{% endblock %}
{% block content %}
<style>
  body {
      background-image: url('/static/imagens/maraca.jpeg');
      background-size: cover; 
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
  }
  .aposta-container {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: auto;
      margin-top: 50px;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  .aposta-container button {
      padding: 10px 20px;
      background-color: #006300;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-weight: bold;
  }
  .aposta-container button:hover {
      background-color: #034b03;
  }
  .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  .button-container button {
      margin: 0 10px;
  }
  .list-group-item {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      align-items: center;
  }
  .list-group-item img {
      margin-right: 10px;
  }

  .list-group-item {
    padding: 7px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.item-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Para que a div ocupe todo o espaço disponível */
}

.list-item-number {
    margin-right: 10px; /* Adiciona espaçamento entre o número do item e a imagem */
}

/* Estilos para dispositivos móveis */
  @media (max-width: 768px) {
      .aposta-container {
          max-width: 100%; /* Define a largura máxima para 100% em dispositivos móveis */
          margin-top: 20px; /* Reduz a margem superior */
      }
      .button-container {
          flex-direction: column; /* Alinha os botões verticalmente em dispositivos móveis */
          margin-top: 10px; /* Reduz o espaçamento entre os botões */
      }
      .button-container button {
          margin: 5px 0; /* Adiciona espaçamento vertical entre os botões */
      }
      .list-group-item {
          flex-direction: column; /* Alinha os itens da lista verticalmente em dispositivos móveis */
          align-items: flex-start; /* Alinha os itens à esquerda em dispositivos móveis */
          padding: 5px;
          margin-bottom: 3px;
      }
      .list-group-item img {
          margin-right: 0; /* Remove a margem à direita das imagens em dispositivos móveis */
          margin-bottom: 5px; /* Adiciona espaçamento inferior entre as imagens e o texto */
      }
  }
</style>
<div class="container mt-4 aposta-container">
    <h1 class="text-center">Minha Aposta</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if not has_aposta %}
                <h2 class="text-center">
                    {% if not dias_restantes.days == 0 %}
                        Restam {{ dias_restantes.days }} dias para apostar!
                    {% else %}
                        Último dia para poder apostar!
                    {% endif %}
                </h2>
                <div class="button-container">
                    <button type="submit" id="salvar_aposta" class="btn" {% if prazo_limite %}disabled{% endif %}>Salvar aposta</button>
                    <button type="submit" id="aposta_aleatoria" class="btn">Estou com sorte</button>
                </div>
                {% if prazo_limite %}
                    <p class="font-weight-bold text-center mt-3">Acabou o tempo de apostas. Tente novamente no próximo ano.</p>
                {% endif %}
                <ol id="todoList" class="list-group mt-4">
                    {% for time in times %}
                        <li class="list-group-item list-group-item-action d-flex" draggable="true">
                          <div class="item-content d-flex align-items-center">
                            <span class="list-item-number d-flex"></span>
                            <img src="{{ time.img_url }}" class="rounded mx-2" width="25" height="25" draggable="false"/>
                            <span class="team-name">{{ time.nome }}</span>
                          </div>  
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <h2 class="text-center">Data da aposta: {{ current_aposta.data_confirmacao }}</h2>
                <ol id="aposta_feita" class="list-group mt-4">
                  {% for time in formatted_aposta %}
                  <li class="list-group-item list-group-item-action d-flex" draggable="true">
                    <div class="item-content d-flex align-items-center">
                      <span class="list-item-number d-flex"></span>
                      <img src="{{ time.img_url }}" class="rounded mx-2" width="25" height="25" draggable="false"/>
                      <span class="team-name">{{ time.nome }}</span>
                    </div>  
                  </li>
              {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const todoList = document.getElementById('todoList');
    const apostaFeita = document.getElementById('aposta_feita');
    const getRandomButton = document.getElementById('aposta_aleatoria');
    const saveGuessButton = document.getElementById('salvar_aposta');

    let draggedItem = null;
    updateItemNumbers()
    // Update item numbers
    function updateItemNumbers() {
      const items = todoList?.querySelectorAll('.list-group-item');
      const itemsFeito = apostaFeita?.querySelectorAll('.list-group-item');
      
      items?.forEach((item, index) => {
        const numberSpan = item.querySelector('.list-item-number');
        if (numberSpan) {
          numberSpan.textContent = (index + 1) + '.';
        }
      });
      itemsFeito?.forEach((item, index) => {
        const numberSpan = item.querySelector('.list-item-number');
        if (numberSpan) {
          numberSpan.textContent = (index + 1) + '.';
        }
      });
    }

    function handleSaveGuess(guessJson) {
      // Chamar o Python
      fetch("/salvar_aposta", {
        method: "POST",
        body: JSON.stringify(guessJson),
      }).then((_res) => {
        window.location.href = "/minha_aposta";
      });
    }

    // Function to shuffle array
    function shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }

    // Shuffle button click event
    getRandomButton.addEventListener('click', function() {
      const items = Array.from(todoList.children);
      shuffleArray(items);
      items.forEach(item => todoList.appendChild(item));
      updateItemNumbers();
    });

    // Save guess click event
    saveGuessButton.addEventListener('click', function() {
      if(!confirm('Após salvar, a aposta não poderá ser editada.\n Confirma salvar a aposta?')) { return; }
      const items = Array.from(todoList.children);
      const guessJson = [];
      items.forEach(item => {
        let formattedRow = item.innerText.split('.\n');
        guessJson.push({id: formattedRow[0], nome: formattedRow[1]});
      });
      handleSaveGuess(guessJson);
    });

    // Add event listeners to draggable items for both mouse and touch events
    todoList.addEventListener('dragstart', function(event) {
      draggedItem = event.target;
      event.dataTransfer.setData('text/plain', ''); // for Firefox support
      setTimeout(() => {
        event.target.style.display = 'none';
      }, 0);
    });

    todoList.addEventListener('dragover', function(event) {
      event.preventDefault();
      const afterElement = getDragAfterElement(todoList, event.clientY);
      if (afterElement == null) {
        todoList.appendChild(draggedItem);
      } else {
        todoList.insertBefore(draggedItem, afterElement);
      }
      updateItemNumbers();
    });

    todoList.addEventListener('dragend', function() {
      setTimeout(() => {
        draggedItem.style.display = 'block';
        draggedItem = null;
      }, 0);
    });

    // Touch events
    let touchY;

    todoList.addEventListener('touchstart', function(event) {
        draggedItem = event.target.closest('.list-group-item');
        touchY = event.touches[0].clientY;
        event.target.style.opacity = '0.5';
        event.target.style.zIndex = '1000';
    });

    todoList.addEventListener('touchmove', function(event) {
        event.preventDefault();
        if (draggedItem) {
            const newPosition = event.touches[0].clientY
            const afterElement = getDragAfterElement(todoList, newPosition);
            if (afterElement == null) {
                todoList.appendChild(draggedItem);
            } else {
                todoList.insertBefore(draggedItem, afterElement);
            }
        }
    });

    todoList.addEventListener('touchend', function(event) {
        if (draggedItem) {
            draggedItem.style.opacity = '1';
            draggedItem.style.top = '';
            draggedItem.style.zIndex = '';
            draggedItem = null;
        }
        updateItemNumbers();
    });


    function getDragAfterElement(container, y) {
      const draggableElements = [...container.querySelectorAll('.list-group-item:not(.dragging)')];

      return draggableElements.reduce((closest, child) => {
        const box = child.getBoundingClientRect();
        const offset = y - box.top - box.height / 2;
        if (offset < 0 && offset > closest.offset) {
          return { offset: offset, element: child };
        } else {
          return closest;
        }
      }, { offset: Number.NEGATIVE_INFINITY }).element;
    }
  });
</script>
{% endblock %}